extends layout

block content
  script(src="js/main.js")

  nav
      .nav-wrapper
        a.brand-logo.left #{Logo}
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a Inicio
          li
            a ¿Quienes Somos?
          li
            a Contactenos
            
  ul.collection
    li#tarjeta.collection-item Tarjeta
    
    
